.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: fit-content;
}

.whoami,
.history {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}

.title {
    font-size: 2rem;
}

.divider {
    width: 100%;
    height: 0.25rem;
}

.pfpContainer {
    border: white 2px solid;
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-shrink: 0;
}

.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whoami > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 0 1rem;
}

.whoamiInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.historyInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

@media (max-width: 480px) {
    .whoami,
    .history {
        width: 100%;
        
    }

    .divider {
        height: 0.125rem;
    }

    .pfpContainer {
        width: 16rem;
        height: 16rem;
    }    

    .whoami > div{
        flex-direction: column;
        padding: 0;
    }

    .historyInfo {
        padding: 0;
    }
}
