.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 50rem;
}

.content > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.title {
    font-size: 2rem;
}

.divider {
    width: 100%;
    height: 0.25rem;
}

.pfpContainer {
    border: white 2px solid;
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-shrink: 0;
}

.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whoami > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.whoamiInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.historyInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.songContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 0;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    gap: 0.8rem;
}

.song > span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.songComment {
    font-style: italic;
}

.coverArtContainer {
    width: 18rem;
    height: 18rem;
    border: 2px white solid;
}

.coverArt {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 480px) {
    .content {
        width: 100%;
    }

    .content > div {
        width: 100%;
    }

    .divider {
        height: 0.125rem;
    }

    .pfpContainer {
        width: 16rem;
        height: 16rem;
    }    

    .whoami > div{
        flex-direction: column;
        padding: 0;
    }

    .historyInfo {
        padding: 0;
    }

    .songContainer {
        flex-direction: column;
        align-items: center;
    }
}
