.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post {
    display: flex;
    flex-direction: row;
    width: 50rem;
    transition: ease-out all 0.1s;
    padding: 1rem;
    justify-content: space-between;
}

.post:hover {
    background-color: var(--color-hover);
}

.post > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.postId {
    color: var(--color-background);
    height: fit-content;
    font-weight: bold;
    padding: 0 1rem;
    background-color: var(--color-selected);
}

/* Mobile layout */
@media (max-width: 480px) {
    .content {
        width: 100%;
    }

    .post {
        width: 100%;
        padding: 1rem 0;
    }
}