@import "../../styles/variables.css";

.content {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.thumbnailContainer {
    display: flex;
    width: 100%;
    height: 26rem;
    border: white solid 2px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title > span:first-child {
    font-size: 1.75rem;
}

.title > span:last-child {
    font-size: 1.25rem;
    opacity: 75%;
}

.postId {
    height: fit-content;
    color: var(--color-background);
    background-color: var(--color-selected);
    padding: 0 1rem;
    font-weight: bold;
}

.writeUp {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.writeUp > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.date {
    background-color: var(--color-hover);
    width: fit-content;
    padding: 0 1rem;
}

.authorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorName {
    opacity: 50%;
}