:root {
    /* Stable */
    --color-background: #0e0e0e;
    --color-text: #fffaf0;

    --color-menuBar-background: #1e1e1e;
    --color-hover: #323232;
    --color-selected: #8000ff;

    --color-project-online: #00ff09;
    --color-project-dev: #f5d322;
    
    /* Dev */

    /* Screen breakpoints */
    /* --mobile-breakpoint: 480px; */
    /* --tablet-breakpoint: 768px; */
    /* --desktop-breakpoint: 1024px; */
}