@import "../../../styles/variables.css";

.page {
    gap: 4rem;
    width: 100%;
}

.content {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.thumbnailContainer {
    display: flex;
    width: 100%;
    height: 26rem;
    border: white solid 2px;
}

.noirThumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title > span:first-child {
    font-size: 1.75rem;
}

.title > span:last-child {
    font-size: 1.25rem;
    opacity: 75%;
}

.status {
    color: var(--color-background);
    height: fit-content;
    font-weight: bold;
    padding: 0 1rem;
    background-color: var(--color-project-online);
}

.writeUp {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.date {
    background-color: var(--color-hover);
    width: fit-content;
    padding: 0 1rem;
}

.block > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.block > div > ul {
    padding: 0 0 0 2rem;
    list-style-type: square;
}

.project a {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .content {
        width: 100%;
        padding: 1rem;
    }

    .thumbnailContainer {
        width: auto;
        height: 16rem;
    }

    .writeUp {
        padding: 0;
    }
}