.botFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .botFrame {
        padding: 1rem 0;
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .blRect,
    .brRect {
        height: 0.5rem;
    }

    .horLine {
        width: 8rem;
        height: 0.125rem;
    }

    .rect {
        height: 0.25rem;
    }

    .botFrame > .horLine:nth-of-type(2),
    .botFrame > .horLine:nth-of-type(8),
    .botFrame > .rect:nth-of-type(4),
    .botFrame > .rect:nth-of-type(6) {
        display: none;
    }
}
