@import url("./assets/fonts/orbitron/orbitron-stylesheet.css");
@import url("./assets/fonts/manrope/manrope-stylesheet.css");

/* Lenis recommended CSS */
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* CSS */

:root {
    --scrollbar-width: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;

    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #060b0b;
    flex-direction: column;
}

ul {
    /* list-style: none; */
    list-style-position: inside;
}

li {
    padding-left: 0;
}

li::marker {
    color: violet;
}

.experience-container {
    flex-direction: column;
    max-width: 50%;
}

.experience-title {
    font-size: 3rem;
    margin-top: 50vh;
    align-self: flex-start;
    position: sticky;
    top: 50vh;
}

.experience-card {
    flex-direction: column;
    gap: 2rem;
    margin-top: 60rem;    
}

.job-title + .job-duration {
    /* margin-top: rem; */
}

.job-title {
    font-size: 2rem;
    color: violet;
}

.job-duration {
    font-size: 1.3rem;
    filter: brightness(60%);
}

.job-description {
    font-size: 1.3rem;
}

/* li {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* li::before {
    content: "•";
    font-size: 2rem;
    color: red;
} */

header {
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #060b0b;
    z-index: 1738;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #949494;
    /* border: 2px solid wheat; */
    padding: 2rem 1rem;
    width: 120px;
    height: 120px;
    border-radius: 4px;
}

.tech-item > img {
    width: 50px;
    height: 50px;
}

.tech-stack {
    flex-wrap: wrap;
    /* gap: 8px; */
    justify-content: space-between;
}

/* .about-text {
    justify-content: space-between;
}*/


/* Shared Styles */

.container {
    display: flex;
}

.nav-links {
    gap: 2rem;
}

.nav-links a {
    font-size: 1.6rem;
    font-weight: 400;
}

#intro,
#about,
#experience,
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1400px;
}

/* Specific Styles */

/*  */
#name-title {
    font-size: 3rem;
    font-weight: 900;
}

#content {
    display: flex;
    align-items: center;
    width: calc(100vw - var(--scrollbar-width));
    flex-direction: column;
}

#intro {
    justify-content: center;
}

#about {
    flex-direction: column;
    max-height: 100vh;
    gap: 2rem;
}

#experience {
    justify-content: space-between;
    width: 1400px;
}

.about-title,
.experience-title {
    padding: 1rem;
    border-left: 4px solid wheat;
}

#copyright {
    margin: auto;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 4rem;

    background-color: gray;
}

.intro-title {
    font-size: 6rem;
}

.about-title {
    align-self: flex-start;
    font-size: 3rem;
}

.about-information {
    gap: 4rem;
}

.about-text {
    flex-direction: column;
    justify-content: space-between;
}

.about-text .text {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;
}

.about-text a {
    color: violet;
    font-weight: 900;
}

.profile-pic {
    /* ALERT */
    /* Work on width and height */
    max-width: auto;
    max-height: 100%;
    border-radius: 1rem;

    box-shadow: 0px 0px 20px 0px violet;
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: wheat; /* Color of the draggable scroll handle */
    border-radius: 4px; /* Radius of the draggable scroll handle */
}
