@import url("./assets/fonts/orbitron/orbitron-stylesheet.css");
@import url("./assets/fonts/manrope/manrope-stylesheet.css");

/* Lenis recommended CSS */
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* CSS */

:root {
    --scrollbar-width: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;

    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #060b0b;
    flex-direction: column;
    height: 300vh;
}

header {
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}

/* Shared Styles */

.container {
    display: flex;
}

.nav-links {
    gap: 2rem;
}

.nav-links a {
    font-size: 2rem;
    font-weight: 400;
}

/* Specific Styles */

h1.name-brand {
    font-size: 3rem;
    font-weight: 900;
}

#content {
    display: flex;
    width: calc(100vw - var(--scrollbar-width));
}

#intro {
    margin: auto;
    min-height: 100vh;
    padding-top: 600px;
}

.intro-title {
    font-size: 6rem;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: white; /* Color of the draggable scroll handle */
    border-radius: 4px; /* Radius of the draggable scroll handle */
}
